.brand-nav {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 300px;
   .imgLogo {
      width: 120px;
      margin-right: 19px;
   }
   .textLogo {
      font-size: 28px;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 5px;
   }
   .-destaque {
      font-weight: bold;
      color: $color-primary-medium;
  }
   @media all and /* 900 a 1199 */
      (min-width: $break-tablet) and (max-width: $break-desktop - 1) {
         width: 285px;
   }
}