.btn-publictype {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto;
  /* 320px a 599px */
  @media all and (min-width: $break-min) and (max-width: $break-phone - 1) {
    flex-direction: column;
    align-items: center;
  }
  .title {
    width: 320px;
    height: 57px;
    line-height: 57px;
    font-family: inherit;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    border: none;
    color: $color-secondary-light;
    background-color: $color-primary-medium;
    &:hover {
      opacity: 0.8;
    }
    /* 320px a 899px */
    @media all and (min-width: $break-min) and (max-width: $break-tablet - 1) {
      width: 220px;
      height: 45px;
      line-height: 45px;
      font-size: 20px;
      margin: 10px;
    }
    &.-dark {
      background-color: $color-primary-dark;
    }
  }
}
