.btn-totop {
   max-width: 1060px;
   display: flex;
   justify-content: flex-end;
   opacity: 0.5;
   transition: opacity 0.2s linear;
   &:hover {
      opacity: 1;
      transition: opacity 0.2s linear;
   }
   img {
      margin-right: 10px;
   }
}
.btn-totop.-v1 {
   margin: 18px auto 48px;
}
.btn-totop.-v2 {
   margin: 135px auto 21px;
}