.btn-totop {
   max-width: 1060px;
   display: flex;
   justify-content: flex-end;
   margin: 50px auto;
   opacity: 0.5;
   transition: opacity 0.2s linear;
   &:hover {
      opacity: 1;
      transition: opacity 0.2s linear;
   }
}