.main-segments {
  max-width: $break-desktop;
  margin: 0 auto;
  padding: 30px 0;
  .title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    /* 600px a 899px */
    @media all and (min-width: $break-phone) and (max-width: $break-tablet - 1) {
      font-size: 32px;
    }
    /* 320px a 599px */
    @media all and (min-width: $break-min) and (max-width: $break-phone - 1) {
      font-size: 25px;
    }
    .separator {
      margin: 0 15px;
      /* 320px a 499px */
      @media all and (min-width: $break-min) and (max-width: $break-phone - 101) {
        display: none;
      }
    }
    .-alternate {
      color: $color-primary-medium;
      /* 320px a 499px */
      @media all and (min-width: $break-min) and (max-width: $break-phone - 101) {
        display: block;
        margin-bottom: 5px;
      }
    }
  }
}
