.main-segments {
   max-width: $break-desktop;
   margin: 0 auto;
   padding: 30px 0;
   .title {
      font-size: 50px;
      font-weight: bold;
      text-align: center;
      @media all and (max-width: 899px) {
         font-size: 30px;
      }
      .separator {
         margin: 0 20px;
      }
      .-alternate {
         color: $color-primary-medium;
      }

   }
}