.wrap-partners {
   width: 100%;
   padding-top: 20px;
   max-width: 1060px;
   margin: 0 auto;

    .wrap-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        text-align: center;
        > .title {
            font-size: 50px;
            font-weight: bold;
            margin-right: 20px;
            margin-left: 150px;
            color: $color-primary-dark;
        }
        > .subtitle {
            font-size: 24px;
            line-height: 1.2;
            margin-top: 10px;
            color: $color-primary-medium;
            text-align: left;
        }
    }
}