.wrap-header {
    width: 100%;
    height: 120px;
    position: relative;
    margin: 0 auto;
    height: 120px;
    transition: height 300ms linear;
    @media all and /* 320px a 599px */
        (min-width: $break-min) and (max-width: $break-phone - 1) {
            height: 75px;
            transition: height 300ms linear;
    }
}