.wrap-carousel {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 540px;
    @media all and /* até 899px */
        (max-width: $break-tablet - 1) {
            height: 340px;
    }
}