.main-navigation {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: $break-desktop;
   margin: 0 auto;
   height: 100%;
   background-color: $color-secondary-light;
   padding-left: 40px;

   &.scrolleffect {
      background-color: red;
   }
   
   @media all and /* 600px a 999px */
      (min-width: $break-phone) and (max-width: $break-desktop - 201) {
         padding-left: 30px;
   }
   @media all and /* 320px a 599px */
      (max-width: $break-phone - 1) {
         padding: 0 40px;
   }
   .main-btnMenu {
      display: none;
      @media all and /* 320px a 599px */
         (max-width: $break-phone - 1) { 
            display: block;
      }
   }
}