.main-card {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1060px;
  width: 100%;
  height: 240px;
  margin: 0 auto;
  &:not(:last-child) {
    margin-bottom: 120px;
    /* 600px a 899px */
    @media all and (min-width: $break-phone) and (max-width: $break-tablet - 1) {
      margin-bottom: 60px;
    }
    /* 320px a 599px */
    @media all and (min-width: $break-min) and (max-width: $break-phone - 1) {
      margin-bottom: 40px;
    }
  }
  &.-sembtntotop {
    margin-bottom: 120px;
  }
  /* 900px a 1199px */
  @media all and (min-width: $break-tablet) and (max-width: $break-desktop - 1) {
    max-width: 860px;
    height: 194px;
  }
  /* 600px a 899px */
  @media all and (min-width: $break-phone) and (max-width: $break-tablet - 1) {
    max-width: 570px;
    height: 175px;
    justify-content: flex-start;
  }
  /* 320px a 599px */
  @media all and (min-width: $break-min) and (max-width: $break-phone - 1) {
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .image {
    position: relative;
    flex-wrap: wrap;
    width: 360px;
    overflow: hidden;
    /* 900px a 1199px */
    @media all and (min-width: $break-tablet) and (max-width: $break-desktop - 1) {
      width: 290px;
      height: 193.3px;
    }
    /* 600px a 899px */
    @media all and (min-width: $break-phone) and (max-width: $break-tablet - 1) {
      width: 217.5px;
      height: 145px;
    }
    /* 320px a 599px */
    @media all and (min-width: $break-min) and (max-width: $break-phone - 1) {
      order: 1;
      width: 320px;
      margin-bottom: 20px;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-primary-medium;
      opacity: 0;
      transition: opacity 300ms linear;
    }
    &:hover:after,
    &.hovereffect:after {
      background-color: $color-primary-medium;
      opacity: 0.5;
    }
  }
  .header {
    align-self: flex-end;
    order: 2;
    width: 680px;
    height: 50px;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* 900px a 1199px */
    @media all and (min-width: $break-tablet) and (max-width: $break-desktop - 1) {
      width: 550px;
      height: 35px;
      align-items: baseline;
    }
    /* 600px a 899px */
    @media all and (min-width: $break-phone) and (max-width: $break-tablet - 1) {
      width: 340px;
      height: 30px;
      align-items: baseline;
      padding-bottom: 5px;
    }
    /* 320px a 599px */
    @media all and (min-width: $break-min) and (max-width: $break-phone - 1) {
      justify-content: center;
      order: 0;
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }
    .title {
      font-size: 40px;
      font-weight: bold;
      color: $color-primary-dark;
      margin-right: 20px;
      /* 900px a 1199px */
      @media all and (min-width: $break-tablet) and (max-width: $break-desktop - 1) {
        font-size: 30px;
      }
      /* 600px a 899px */
      @media all and (min-width: $break-phone) and (max-width: $break-tablet - 1) {
        font-size: 20px;
        margin-right: 10px;
      }
      /* 320px a 599px */
      @media all and (min-width: $break-min) and (max-width: $break-phone - 1) {
        font-size: 30px;
        margin: 0;
      }
    }
    .subtitle {
      font-size: 28px;
      font-weight: normal;
      color: $color-primary-medium;
      /* 900px a 1199px */
      @media all and (min-width: $break-tablet) and (max-width: $break-desktop - 1) {
        font-size: 20px;
      }
      /* 600px a 899px */
      @media all and (min-width: $break-phone) and (max-width: $break-tablet - 1) {
        font-size: 14px;
      }
      /* 320px a 599px */
      @media all and (min-width: $break-min) and (max-width: $break-phone - 1) {
        display: none;
      }
    }
    .icone {
      padding-left: 60px;
      background-repeat: no-repeat;
      background-size: contain;
      /* 600px a 899px */
      @media all and (min-width: $break-phone) and (max-width: $break-tablet - 1) {
        padding-left: 30px;
      }
      /* 320px a 599px */
      @media all and (min-width: $break-min) and (max-width: $break-phone - 1) {
        padding-left: 40px;
      }
      // ICONES DE SEGUROS
      &#seguro-vida {
        background-image: url(../img/iconCard-seguro-vida.svg);
      }
      &#seguro-auto {
        background-image: url(../img/iconCard-seguro-auto.svg);
      }
      &#seguro-residencial {
        background-image: url(../img/iconCard-seguro-residencial.svg);
      }
      &#seguro-viagem {
        background-image: url(../img/iconCard-seguro-viagem.svg);
      }
      // &#seguro-saude {
      //   background-image: url(../img/iconCard-seguro-saude.svg);
      // }
      // &#seguro-odonto {
      //   background-image: url(../img/iconCard-seguro-odonto.svg);
      // }
      &#seguro-garantia {
        background-image: url(../img/iconCard-seguro-garantia.svg);
      }
      &#seguro-frota {
        background-image: url(../img/iconCard-seguro-frota.svg);
      }
      &#seguro-transporte-carga {
        background-image: url(../img/iconCard-seguro-transporte-carga.svg);
      }
      &#seguro-patrimonial {
        background-image: url(../img/iconCard-seguro-patrimonial.svg);
      }
      &#seguro-vida-coletiva {
        background-image: url(../img/iconCard-seguro-vida-coletiva.svg);
      }
      // &#seguro-saude-odonto {
      //   background-image: url(../img/iconCard-seguro-saude-odonto.svg);
      // }

      // ICONES DE CONSÓRCIOS
      &#consorcio-auto {
        background-image: url(../img/iconCard-consorcio-auto.svg);
      }
      &#consorcio-imovel {
        background-image: url(../img/iconCard-consorcio-imovel.svg);
      }
      &#consorcio-servicos {
        background-image: url(../img/iconCard-consorcio-servicos.svg);
      }
    }
    &.-invert {
      .title {
        color: $color-primary-medium;
      }
      .subtitle {
        color: $color-primary-dark;
      }
    }
  }
  .square {
    position: relative;
    flex-wrap: wrap;
    align-self: flex-end;
    width: 680px;
    height: 190px;
    padding: 20px;
    color: $color-primary-medium;
    border: 1px solid $color-primary-medium;
    /* 900px a 1199px */
    @media all and (min-width: $break-tablet) and (max-width: $break-desktop - 1) {
      width: 550px;
      height: 159px;
      padding: 15px;
    }
    /* 600px a 899px */
    @media all and (min-width: $break-phone) and (max-width: $break-tablet - 1) {
      width: 340px;
      height: 145px;
      padding: 10px;
    }
    /* 320px a 599px */
    @media all and (min-width: $break-min) and (max-width: $break-phone - 1) {
      order: 2;
      width: 95%;
      height: 220px;
      margin: 0 auto;
      padding: 10px;
    }
    &.-dark {
      border: 1px solid $color-primary-dark;
    }
    .description {
      font-size: 18px;
      line-height: 22px;
      .-destaque {
        font-weight: bold;
        text-transform: uppercase;
      }
      /* 900px a 1199px */
      @media all and (min-width: $break-tablet) and (max-width: $break-desktop - 1) {
        font-size: 15px;
        line-height: 20px;
      }
      /* 600px a 899px */
      @media all and (min-width: $break-phone) and (max-width: $break-tablet - 1) {
        font-size: 12px;
        line-height: 16px;
      }
      /* 320px a 599px */
      @media all and (min-width: $break-min) and (max-width: $break-phone - 1) {
        font-size: 16px;
        line-height: 20px;
      }
    }
    .btn-cards {
      position: absolute;
      bottom: 20px;
      right: 20px;
      /* 900px a 1199px */
      @media all and (min-width: $break-tablet) and (max-width: $break-desktop - 1) {
        bottom: 15px;
        right: 15px;
      }
      /* 600px a 899px */
      @media all and (min-width: $break-phone) and (max-width: $break-tablet - 1) {
        bottom: 10px;
        right: 10px;
        &.contrateagora {
          font-size: 16px;
          width: 255px;
        }
      }
      /* 320px a 599px */
      @media all and (min-width: $break-min) and (max-width: $break-phone - 1) {
        bottom: 10px;
        right: 10px;
        &.contrateagora {
          font-size: 16px;
          width: 255px;
        }
      }
    }
  }
}
