.main-navigation {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1200px;
   margin: 0 auto;
   height: 100%;
   padding: 10px 0 10px 67px;
   .main-btnMenu {
      visibility: hidden;
   }
   @media all and /* 1101 a 1199 */
      (min-width: $break-desktop - 99) and (max-width: $break-desktop - 1) {
         padding: 10px 0 10px 47px;
   }
   @media all and /* 900 a 1100px */
      (min-width: $break-tablet) and (max-width: $break-desktop - 100) {
         padding: 10px 0 10px 25px;
   }
   @media all and (max-width: $break-tablet - 1) {
      .main-btnMenu {
         visibility: visible;
      }
   }
}
