.main-carousel {
  max-width: $break-desktop;
  margin: 0 auto;
  width: 100%;
  .cards {
    height: calc(100vw * 0.45);
    max-height: 540px;
    /* 320px a 599px */
    @media all and (min-width: $break-min) and (max-width: $break-phone - 1) {
      height: 240px;
    }
    .card {
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      /* até 599px */
      @media all and (max-width: $break-phone - 1) {
        justify-content: space-between;
        align-items: center;
        padding: 10px 5px;
        &.-img1 {
          background-image: url(../img/imgSlider-seguros-sm.jpg);
        }
        &.-img2 {
          background-image: url(../img/imgSlider-consorcios-sm.jpg);
        }
        &.-img3 {
          background-image: url(../img/imgSlider-beneficios-sm.jpg);
        }
        &.-img4 {
          background-image: url(../img/imgSlider-consultoria-sm.jpg);
        }
      }
      /* a partir de 600px */
      @media all and (min-width: $break-phone) {
        &.-img1 {
          background-image: url(../img/imgSlider-seguros-lg.jpg);
        }
        &.-img2 {
          background-image: url(../img/imgSlider-consorcios-lg.jpg);
        }
        &.-img3 {
          background-image: url(../img/imgSlider-beneficios-lg.jpg);
        }
        &.-img4 {
          background-image: url(../img/imgSlider-consultoria-lg.jpg);
        }
      }
      .title,
      .text,
      .btn {
        max-width: 395px;
        margin: 0 0 20px 130px;
        /* 600px a 899px */
        @media all and (min-width: $break-phone) and (max-width: $break-tablet - 1) {
          max-width: 250px;
          margin: 0 0 10px 90px;
        }
        /* 320px a 599px */
        @media all and (min-width: $break-min) and (max-width: $break-phone - 1) {
          width: 100%;
          max-width: 100%;
          margin: 10px 0;
        }
      }
      .title {
        font-size: 70px;
        font-weight: bold;
        color: $color-primary-dark;
        /* 600px a 899px */
        @media all and (min-width: $break-phone) and (max-width: $break-tablet - 1) {
          font-size: 35px;
        }
        /* 320px a 599px */
        @media all and (min-width: $break-min) and (max-width: $break-phone - 1) {
          font-size: 30px;
        }
      }
      .text {
        font-size: 30px;
        color: $color-primary-dark;
        line-height: 1.2;
        /* 600px a 899px */
        @media all and (min-width: $break-phone) and (max-width: $break-tablet - 1) {
          font-size: 15px;
        }
        /* 320px a 599px */
        @media all and (min-width: $break-min) and (max-width: $break-phone - 1) {
          display: none;
        }
      }
      .btn {
        border: none;
        width: 165px;
        height: 57px;
        line-height: 57px;
        font-family: inherit;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        background-color: $color-primary-medium;
        color: $color-secondary-light;
        text-decoration: none;
        cursor: pointer;
        transition: all 300ms linear;
        z-index: 5;
        &:hover {
          background-color: $color-primary-dark;
        }
        /* 600px a 899px */
        @media all and (min-width: $break-phone) and (max-width: $break-tablet - 1) {
          width: 125px;
          height: 44px;
          line-height: 44px;
          font-size: 17px;
        }
        /* 320px a 599px */
        @media all and (min-width: $break-min) and (max-width: $break-phone - 1) {
          width: 110px;
          height: 44px;
          font-size: 20px;
          background-color: transparent;
          color: $color-secondary-light;
          align-self: flex-end;
          .-variant {
            /* 320px a 599px */
            @media all and (min-width: $break-min) and (max-width: $break-phone - 1) {
              display: none;
            }
          }
          &::after {
            content: "";
            background-image: url(../img/btn-saibamais-medium.jpg);
            padding: 10px 22px;
            margin-left: 10px;
          }
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
}

// SETTINGS ELEMENTS GLIDE (CAROUSEL)
.glide {
  /* até 1200px */
  @media all and (max-width: $break-desktop) {
    position: static;
  }
}

.glide__slides {
  margin-block-start: 0;
  margin-block-end: 0;
}

.glide__bullets {
  bottom: 1em;
}
.glide__bullet {
  height: 20px;
  width: 20px;
  border: none;
  background-color: $color-primary-medium;
  opacity: 0.5;
  cursor: pointer;
  /* 600px a 899px */
  @media all and (min-width: $break-phone) and (max-width: $break-tablet - 1) {
    height: 15px;
    width: 15px;
  }
  /* 320px a 599px */
  @media all and (min-width: $break-min) and (max-width: $break-phone - 1) {
    display: none;
  }
  &:hover,
  &--active {
    background-color: $color-primary-medium;
    border: none;
    opacity: 1;
  }
}

.glide__arrow {
  background: none;
  border: none;
  color: transparent;
  padding: 0;
  box-shadow: none;
  width: 20px;
  opacity: 0.4;
  /* 320px a 599px */
  @media all and (min-width: $break-min) and (max-width: $break-phone - 1) {
    display: none;
  }
}
