.main-carousel {
   max-width: $break-desktop;
   margin: 0 auto;
   .cards {
      position: relative;
      height: 540px;
      .card {
         display: flex;
         justify-content: center;
         flex-direction: column;
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;

         &.-img1 {
            background-image: url(../img/img1Carousel.jpg);
         }
         &.-img2 {
            background-image: url(../img/img2Carousel.jpg);
         }
         &.-img3 {
            background-image: url(../img/img3Carousel.jpg);
         }

         @media all and /* 600px a 899px */
            (min-width: $break-phone) and (max-width: $break-tablet - 1) {
               height: 340px;
         }
         @media all and /* 320px a 599px */
            (min-width: $break-min) and (max-width: $break-phone - 1) {
               height: 240px;
               justify-content: space-between;
         }
         
         .title,
         .text {
            max-width: 395px;
            margin: 0 0 20px 130px;
         }
         .title {
            font-size: 70px;
            font-weight: bold;
            color: $color-primary-dark;
            @media all and /* 600px a 899px */
               (min-width: $break-phone) and (max-width: $break-tablet - 1) {
                  font-size: 40px;
            }
            @media all and /* 320px a 599px */
               (min-width: $break-min) and (max-width: $break-phone - 1) {
                  font-size: 30px;
                  margin: 20px;
            }
         }
         .text {
            font-size: 30px;
            color: $color-primary-dark;
            line-height: 1.2;
            @media all and /* 600px a 899px */
               (min-width: $break-phone) and (max-width: $break-tablet - 1) {
                  font-size: 20px;
            }
            @media all and /* 320px a 599px */
               (min-width: $break-min) and (max-width: $break-phone - 1) {
                  display: none;
            }
         }
         .btn {
            border: none;
            width: 165px;
            height: 57px;
            font-family: inherit;
            font-size: 22px;
            font-weight: bold;
            background-color: $color-primary-medium;
            color: $color-secondary-light;
            margin-left: 340px;
            cursor: pointer;
            transition: all 300ms linear;
            z-index: 5;
            @media all and /* 600px a 899px */
               (min-width: $break-phone) and (max-width: $break-tablet - 1) {
                  width: 150px;
                  height: 50px;
                  font-size: 20px;
            }
            @media all and /* 320px a 599px */
               (min-width: $break-min) and (max-width: $break-phone - 1) {
                  width: 150px;
                  height: 50px;
                  font-size: 20px;
                  margin: 0 auto 50px;
            }
            &:hover {
               background-color: $color-primary-dark;
            }
         }
      }
   }
}

// SETTINGS ELEMENTS GLIDE (CAROUSEL)
.glide {
   @media all and /* 320px a 599px */
      (max-width: $break-desktop) {
         position: static;
   }
}

.glide__slides {
  margin-block-start: 0;
  margin-block-end: 0;
}

.glide__bullets {
   bottom: 1em;
}

.glide__bullet {
  height: 20px;
  width: 20px;
  border: none;
  background-color: $color-primary-medium;
  opacity: 0.5;
  cursor: pointer;
  @media all and /* 320px a 599px */
    (min-width: $break-min) and (max-width: $break-phone - 1) {
        display: none;
  }
  &:hover,
  &--active {
     background-color: $color-primary-medium;
     border: none;
     opacity: 1;
  }
}

.glide__arrow {
  background: none;
  border: none;
  color: transparent;
  padding: 0;
  box-shadow: none;
  width: 50px;
  height: 50px;
  opacity: 0.4;
  @media all and /* 320px a 599px */
  (min-width: $break-min) and (max-width: $break-phone - 1) {
      display: none;
  }
}