.main-navigation {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1200px;
   margin: 0 auto;
   height: 100%;
   padding: 10px 0 10px 67px;
   .main-btnMenu {
      visibility: hidden;
   }
   @media all and (max-width: $break-tablet) {
      .main-btnMenu {
         visibility: visible;
      }
   }
}
