.nav-bar {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   font-size: 24px;
   > .menu {
      text-align: right;
      height: 120px;
      line-height: 120px;
      @media all and  /* 600px a 899px */
         (min-width: $break-phone) and (max-width: $break-tablet - 1) {
            position: absolute;
            display: block;
            background-color: #F9CE9B;
            width: 260px;
            height: 350px;
            top: 120px;
            right: 0;
            opacity: 0.9;
            z-index: 10;
            font-weight: bold;
            line-height: 50px;
            padding: 10px 20px;
            transform: translateX(100%);
            transition: transform 300ms linear;
      }
      @media all and  /* 320px a 599px */
         (min-width: $break-min) and (max-width: $break-phone - 1) {
            position: absolute;
            display: block;
            background-color: #F9CE9B;
            width: 260px;
            height: 350px;
            top: 75px;
            right: 0;
            opacity: 0.9;
            z-index: 10;
            font-weight: bold;
            line-height: 50px;
            padding: 10px 20px;
            transform: translateX(100%);
            transition: transform 300ms linear;
      }
      &.menu-open {
        transform: translateX(0);
        visibility: visible;
      }
      > .item {
         display: inline-block;
         padding-right: 50px;
         @media all and /* 1101 a 1199 */
            (min-width: $break-desktop - 99) and (max-width: $break-desktop - 1) {
               padding-right: 45px;
         }
         @media all and /* 1001 a 1100px */
            (min-width: $break-desktop - 199) and (max-width: $break-desktop - 100) {
               padding-right: 35px;
               font-size: 22px;
         }
         @media all and /* 900 a 1000px */
            (min-width: $break-tablet) and (max-width: $break-desktop - 200) {
               padding-right: 27px;
               font-size: 20px;
         }
         @media all and  /* até 899px */
            (max-width: $break-tablet - 1) {
               width: 100%;
               text-align: left;
         }
         &:not(:last-child) {
            @media all and  /* até 899px */
               (max-width: $break-tablet - 1) {
                  border-bottom: 1px solid white;
            }
         }
         > .action {
            color: $color-primary-dark;
            list-style: none;
            text-decoration: none;
            &.-isActive,
            &:hover {
               color: $color-primary-medium;
            }
         }
         .submenu {
            width: 220px;
            font-size: 22px;
            font-weight: normal;
            line-height: 40px;
            text-decoration: none;
            color: $color-primary-dark;
            border-top: 1px solid white;
            li {
               padding-left: 10px;
               a {
                  text-decoration: none;
                  color: $color-primary-dark;
                  &:hover{
                     text-decoration: none;
                     color: $color-primary-medium;
                  }
               }
            }
         }
      }
   }
   > .cotacao {
      display: inline-block;
      border: none;
      background-color: $color-primary-medium;
      width: 252px;
      height: 120px;
      font-family: inherit;
      font-size: inherit;
      font-weight: bold;
      text-align: center;
      letter-spacing: 0.5px;
      color: $color-secondary-light;
      padding: 0 100px 0 28px;
      cursor: pointer;
      &:hover {
         background-color: $color-primary-dark;
      }
      @media all and /* 1101 a 1199 */
         (min-width: $break-desktop - 99) and (max-width: $break-desktop - 1) {
            width: 200px;
            padding: 0 40px 0 10px;         
      }
      @media all and /* 900 a 1100px */
         (min-width: $break-tablet) and (max-width: $break-desktop - 100) {
            width: 180px;
            padding: 0 20px 0 10px;         
      }
      @media all and  /* até 899px */
         (max-width: $break-tablet - 1) {
            display: none;
      }
   }
}
