.team-card {
   overflow: hidden;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   margin: 0 auto;
   width: 350px;
   height: 700px;
   .avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 8px solid rgba(201, 128, 29, 0.3);
      border-radius: 50%;
      .picture {
         width: 240px;
         height: 240px;
         border-radius: 50%;
         border: 5px solid rgba(201, 128, 29, 0.8);
         float: left;
      }
   }
   .name {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 15px;
      text-decoration: none;
      color: $color-primary-dark;
      background-image: url(../img/icon-linkedin-dark.svg);
      background-repeat: no-repeat;
      background-position: center right;
      background-size: 40px;
      padding: 15px 50px;
      cursor: pointer;
      transition: transform 300ms linear;
      &:hover {
         transform: scale(1.1);
         transition: transform 300ms linear;
      }
      .link {
         color: inherit;
         text-decoration: inherit;
      }
   }
   .square {
      box-sizing: border-box;
      padding: 20px 40px;
      font-size: 22px;
      font-weight: normal;
      line-height: 25px;
      text-align: center;
      color: $color-primary-medium;
      border: 1px solid $color-primary-medium;
      .subtitle {
         font-weight: 600;
         text-transform: uppercase;
         margin-bottom: 10px;
      }
      .profile {
         color: $color-primary-dark;
         margin-bottom: 25px;
      }
      .skill {
         text-transform: uppercase;
         line-height: 26px;
      }
   }
}