.team-card {
  display: flex;
  margin: 0 auto;
  width: 500px;
  height: 250px;
  overflow: hidden;
  margin-bottom: 40px;
  /* 320px a 599px */
  @media all and (min-width: $break-min) and (max-width: $break-phone - 1) {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 500px;
    margin: 15px;
  }
  .avatar {
    width: 250px;
    height: 250px;
  }
  .resume {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    padding: 15px;
    background-image: linear-gradient(to top, #efefef 60%, #c8c9cb);

    .name {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 7px;
      color: $color-primary-dark;
      /* 320px a 599px */
      @media all and (min-width: $break-min) and (max-width: $break-phone - 1) {
        font-size: 25px;
      }
    }
    .subtitle {
      font-size: 22px;
      margin-bottom: 5px;
      color: $color-primary-medium;
      /* 320px a 599px */
      @media all and (min-width: $break-min) and (max-width: $break-phone - 1) {
        font-size: 20px;
      }
    }
    .separator {
      border-top: 1px solid $color-primary-dark;
      margin: 5px 0;
    }
    .skill {
      font-size: 20px;
      font-weight: normal;
      line-height: 24px;
      color: $color-primary-medium;
    }
    .social {
      position: absolute;
      bottom: 15px;
      left: 15px;
      width: 44px;
      cursor: pointer;
      transition: transform 300ms linear;
      &:hover {
        transform: scale(1.1);
        transition: transform 300ms linear;
      }
    }
    .credential {
      position: absolute;
      width: 130px;
      height: 57px;
      text-indent: -9999px;
      background-position: bottom right;
      &.-anbima20 {
        background-image: url(../img/imgSelo-anbima-cpa20.png);
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 10px;
        right: 10px;
        &.-composto {
          bottom: 50px;
        }
      }
      &.-anbima10 {
        background-image: url(../img/imgSelo-anbima-cpa10.png);
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 10px;
        right: 10px;
      }
      &.-susep {
        background-image: url(../img/imgSelo-susep.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: contain;
        bottom: 10px;
        right: 5px;
      }
    }
  }
}
