$color-primary-dark: #050a26; // azul escuro
$color-primary-medium: #c9801d; // laranja
$color-secondary-light: white; // branco
$color-secondary-medium: #ba8800; //caramelo
$color-msg-invalid: #ff0000; //vermelho
$color-msg-valid: #008000; //verde
$color-gradient-start: #efefef; //branco sujo
$color-gradient-end: #c8c9cb; //cinza claro
