//
// Configurações específicas de RESET deste projeto
//
body {
   overflow-X: hidden;
   margin-top: 120px;
   @media all and /* 900px a 999px */
      (min-width: $break-tablet) and (max-width: $break-desktop - 201) {
         margin-top: 100px;
   }
   @media all and /* até 899px */
      (min-width: $break-min) and (max-width: $break-tablet - 1) {
         margin-top: 0;
   }
}