@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   indicado por Marco Bruno em 2018
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* incluido abaixo no curso para a imagem de BG fique na altura do dispositivo móvel */
html,
body {
  height: 100%; }

body {
  font-family: "Asap Condensed", "Arial", sans-serif;
  background-color: white;
  color: #050A26; }

.wrap-header {
  width: 100%;
  position: relative;
  margin: 0 auto;
  height: 120px;
  transition: height 300ms linear; }
  @media all and (min-width: 320px) and (max-width: 599px) {
    .wrap-header {
      height: 75px;
      transition: height 300ms linear; } }

.brand-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 300px; }
  .brand-nav .imgLogo {
    width: 120px;
    margin-right: 19px; }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .brand-nav .imgLogo {
        display: none; } }
  .brand-nav .textLogo {
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 5px; }
  .brand-nav .-destaque {
    font-weight: bold;
    color: #C9801D; }

.btn-menu {
  position: relative;
  display: block;
  cursor: pointer;
  right: 0; }
  .btn-menu .bar1, .btn-menu .bar2, .btn-menu .bar3 {
    width: 30px;
    height: 4px;
    background-color: #050A26;
    margin: 6px 0;
    transition: 500ms; }
  .btn-menu.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px); }
  .btn-menu.change .bar2 {
    opacity: 0; }
  .btn-menu.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -6px);
    transform: rotate(45deg) translate(-8px, -6px); }

.wrap-carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 540px; }
  @media all and (min-width: 600px) and (max-width: 899px) {
    .wrap-carousel {
      height: 340px; } }
  @media all and (min-width: 320px) and (max-width: 599px) {
    .wrap-carousel {
      height: 240px; } }

.main-segments {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0; }
  .main-segments .title {
    font-size: 50px;
    font-weight: bold;
    text-align: center; }
    @media all and (min-width: 600px) and (max-width: 899px) {
      .main-segments .title {
        font-size: 32px; } }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .main-segments .title {
        font-size: 32px; } }
    .main-segments .title .separator {
      margin: 0 20px; }
      @media all and (min-width: 320px) and (max-width: 599px) {
        .main-segments .title .separator {
          display: none; } }
    .main-segments .title .-alternate {
      color: #C9801D; }
      @media all and (min-width: 320px) and (max-width: 599px) {
        .main-segments .title .-alternate {
          display: block;
          margin-bottom: 5px; } }

.wrap-cards {
  position: relative;
  width: 100%; }
  .wrap-cards .service-card:last-child {
    margin-bottom: 110px; }

.wrap-services {
  width: 100%;
  padding-top: 20px; }
  .wrap-services .wrap-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    text-align: center; }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .wrap-services .wrap-title {
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 40px; } }
    .wrap-services .wrap-title > .title {
      font-size: 50px;
      font-weight: bold;
      margin-right: 20px;
      color: #050A26; }
      @media all and (min-width: 600px) and (max-width: 899px) {
        .wrap-services .wrap-title > .title {
          font-size: 40px;
          margin-right: 10px; } }
      @media all and (min-width: 320px) and (max-width: 599px) {
        .wrap-services .wrap-title > .title {
          font-size: 30px;
          margin: 5px 20px; } }
    .wrap-services .wrap-title > .subtitle {
      font-size: 24px;
      margin-top: 10px;
      color: #C9801D; }
      @media all and (min-width: 600px) and (max-width: 899px) {
        .wrap-services .wrap-title > .subtitle {
          font-size: 20px;
          margin-right: 5px; } }
      @media all and (min-width: 320px) and (max-width: 599px) {
        .wrap-services .wrap-title > .subtitle {
          font-size: 18px;
          margin: 0 20px;
          text-align: left; } }
      .wrap-services .wrap-title > .subtitle .-destaque {
        text-transform: uppercase; }

.wrap-partners {
  width: 100%;
  padding-top: 20px;
  max-width: 1060px;
  margin: 0 auto; }
  .wrap-partners .wrap-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-align: center; }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .wrap-partners .wrap-title {
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 10px 10px; } }
    .wrap-partners .wrap-title > .title {
      font-size: 50px;
      font-weight: bold;
      margin: 0 20px 0 150px;
      color: #050A26; }
      @media all and (min-width: 600px) and (max-width: 899px) {
        .wrap-partners .wrap-title > .title {
          font-size: 40px;
          margin: 0 10px 0 10px; } }
      @media all and (min-width: 320px) and (max-width: 599px) {
        .wrap-partners .wrap-title > .title {
          display: block;
          font-size: 30px;
          margin: 0 10px 0 0; } }
    .wrap-partners .wrap-title > .subtitle {
      font-size: 24px;
      line-height: 1.2;
      margin-top: 10px;
      color: #C9801D;
      text-align: left; }
      @media all and (min-width: 600px) and (max-width: 899px) {
        .wrap-partners .wrap-title > .subtitle {
          font-size: 20px;
          margin-top: 5px; } }
      @media all and (min-width: 320px) and (max-width: 599px) {
        .wrap-partners .wrap-title > .subtitle {
          font-size: 18px;
          margin-top: 5px; } }

.btn-totop {
  max-width: 1060px;
  display: flex;
  justify-content: flex-end;
  margin: 50px auto;
  opacity: 0.5;
  transition: opacity 0.2s linear; }
  .btn-totop:hover {
    opacity: 1;
    transition: opacity 0.2s linear; }

.btn-cotacao {
  display: none; }
  @media all and (min-width: 320px) and (max-width: 599px) {
    .btn-cotacao {
      display: block;
      border: none;
      width: 252px;
      height: 78px;
      margin: 0 auto;
      font-family: inherit;
      font-size: 24px;
      font-weight: bold;
      background-color: #C9801D;
      color: white;
      cursor: pointer; }
      .btn-cotacao:hover {
        background-color: #050A26; } }

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 10px 0 10px 67px; }
  @media all and (max-width: 899px) {
    .main-navigation {
      padding: 10px 40px; } }
  .main-navigation .btn-menu {
    display: none; }
    @media all and (max-width: 899px) {
      .main-navigation .btn-menu {
        display: block; } }

.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px; }
  .nav-bar > .menu {
    text-align: right;
    height: 120px;
    line-height: 120px; }
    @media all and (min-width: 600px) and (max-width: 899px) {
      .nav-bar > .menu {
        position: absolute;
        display: block;
        background-color: #F9CE9B;
        width: 260px;
        height: 350px;
        top: 120px;
        right: 0;
        opacity: 0.9;
        z-index: 10;
        font-weight: bold;
        line-height: 50px;
        padding: 10px 20px;
        transform: translateX(100%);
        transition: transform 300ms linear; } }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .nav-bar > .menu {
        position: absolute;
        display: block;
        background-color: #F9CE9B;
        width: 260px;
        height: 350px;
        top: 75px;
        right: 0;
        opacity: 0.9;
        z-index: 10;
        font-weight: bold;
        line-height: 50px;
        padding: 10px 20px;
        transform: translateX(100%);
        transition: transform 300ms linear; } }
    .nav-bar > .menu.menu-open {
      transform: translateX(0);
      visibility: visible; }
    .nav-bar > .menu > .item {
      display: inline-block;
      padding-right: 50px; }
      @media all and (max-width: 899px) {
        .nav-bar > .menu > .item {
          width: 100%;
          text-align: left; } }
      @media all and (max-width: 899px) {
        .nav-bar > .menu > .item:not(:last-child) {
          border-bottom: 1px solid white; } }
      .nav-bar > .menu > .item > .action {
        color: #050A26;
        list-style: none;
        text-decoration: none; }
        .nav-bar > .menu > .item > .action.-isActive, .nav-bar > .menu > .item > .action:hover {
          color: #C9801D; }
      .nav-bar > .menu > .item .submenu {
        width: 220px;
        font-size: 22px;
        font-weight: normal;
        line-height: 40px;
        text-decoration: none;
        color: #050A26;
        border-top: 1px solid white; }
        .nav-bar > .menu > .item .submenu li {
          padding-left: 10px; }
          .nav-bar > .menu > .item .submenu li a {
            text-decoration: none;
            color: #050A26; }
            .nav-bar > .menu > .item .submenu li a:hover {
              text-decoration: none;
              color: #C9801D; }
  .nav-bar > .cotacao {
    display: inline-block;
    border: none;
    background-color: #C9801D;
    width: 252px;
    height: 120px;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.5px;
    color: white;
    padding: 0 100px 0 28px;
    cursor: pointer; }
    @media all and (max-width: 899px) {
      .nav-bar > .cotacao {
        display: none; } }
    .nav-bar > .cotacao:hover {
      background-color: #050A26; }

.main-carousel {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto; }
  .main-carousel .cards {
    position: relative;
    height: 100%; }
    .main-carousel .cards .card {
      position: absolute;
      display: flex;
      justify-content: center;
      flex-direction: column;
      box-sizing: border-box;
      width: 100%;
      height: 540px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;
      transition: opacity 0.5s linear; }
      @media all and (min-width: 600px) and (max-width: 899px) {
        .main-carousel .cards .card {
          height: 340px; } }
      @media all and (min-width: 320px) and (max-width: 599px) {
        .main-carousel .cards .card {
          height: 240px;
          justify-content: space-between; } }
      .main-carousel .cards .card.-isActive {
        opacity: 1;
        transition: opacity 0.5s linear; }
      .main-carousel .cards .card .title,
      .main-carousel .cards .card .text {
        max-width: 395px;
        margin: 0 0 20px 130px; }
      .main-carousel .cards .card .title {
        font-size: 70px;
        font-weight: bold;
        color: #050A26; }
        @media all and (min-width: 600px) and (max-width: 899px) {
          .main-carousel .cards .card .title {
            font-size: 40px; } }
        @media all and (min-width: 320px) and (max-width: 599px) {
          .main-carousel .cards .card .title {
            font-size: 30px;
            margin: 20px; } }
      .main-carousel .cards .card .text {
        font-size: 30px;
        color: #050A26;
        line-height: 1.2; }
        @media all and (min-width: 600px) and (max-width: 899px) {
          .main-carousel .cards .card .text {
            font-size: 20px; } }
        @media all and (min-width: 320px) and (max-width: 599px) {
          .main-carousel .cards .card .text {
            display: none; } }
      .main-carousel .cards .card .btn {
        border: none;
        width: 165px;
        height: 57px;
        font-family: inherit;
        font-size: 22px;
        font-weight: bold;
        background-color: #C9801D;
        color: white;
        margin-left: 340px;
        cursor: pointer;
        z-index: 5; }
        @media all and (min-width: 600px) and (max-width: 899px) {
          .main-carousel .cards .card .btn {
            width: 150px;
            height: 50px;
            font-size: 20px; } }
        @media all and (min-width: 320px) and (max-width: 599px) {
          .main-carousel .cards .card .btn {
            width: 150px;
            height: 50px;
            font-size: 20px;
            margin: 0 auto 50px; } }
        .main-carousel .cards .card .btn:hover {
          background-color: #050A26; }
    .main-carousel .cards .bullets {
      position: relative;
      text-align: center;
      top: 505px; }
      @media all and (min-width: 600px) and (max-width: 899px) {
        .main-carousel .cards .bullets {
          top: 310px; } }
      @media all and (min-width: 320px) and (max-width: 599px) {
        .main-carousel .cards .bullets {
          top: 210px; } }
      .main-carousel .cards .bullets .bullet {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-color: #C9801D;
        opacity: 0.8;
        border-radius: 50%;
        text-indent: -9999px;
        cursor: pointer;
        transition: opacity 200ms linear; }
        .main-carousel .cards .bullets .bullet:not(:last-child) {
          margin-right: 10px; }
        .main-carousel .cards .bullets .bullet:hover {
          opacity: 1; }
        .main-carousel .cards .bullets .bullet.-isActive {
          background-color: #050A26; }
  .main-carousel #first {
    background-image: url(../img/img1Carousel.jpg); }
  .main-carousel #second {
    background-image: url(../img/img2Carousel.jpg); }
  .main-carousel #third {
    background-image: url(../img/img3Carousel.jpg); }

.service-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1060px;
  height: 260px;
  margin: 0 auto 120px; }
  @media all and (min-width: 600px) and (max-width: 899px) {
    .service-card {
      justify-content: center;
      margin: 0 20px 50px; } }
  @media all and (min-width: 320px) and (max-width: 599px) {
    .service-card {
      height: 550px;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 0 10px 50px; } }
  .service-card .image {
    width: 360px; }
    @media all and (min-width: 600px) and (max-width: 899px) {
      .service-card .image {
        display: none; } }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .service-card .image img {
        width: 100%;
        text-align: center; } }
  .service-card .content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 680px;
    height: 260px; }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .service-card .content {
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%; } }
    .service-card .content .title {
      margin-bottom: 5px;
      font-size: 40px;
      font-weight: bold;
      color: #050A26;
      margin-right: 20px; }
      @media all and (min-width: 320px) and (max-width: 599px) {
        .service-card .content .title {
          margin-top: -280px;
          font-size: 30px;
          margin-right: 0; } }
    .service-card .content .subtitle {
      margin-bottom: 10px;
      font-size: 28px;
      font-weight: normal;
      color: #C9801D; }
      @media all and (min-width: 320px) and (max-width: 599px) {
        .service-card .content .subtitle {
          font-size: 22px; } }
    .service-card .content.-invert .title {
      color: #C9801D; }
    .service-card .content.-invert .subtitle {
      color: #050A26; }
    .service-card .content .square {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 200px;
      padding: 20px;
      color: #C9801D;
      border: 1px solid #C9801D; }
      @media all and (min-width: 320px) and (max-width: 599px) {
        .service-card .content .square {
          padding: 10px;
          height: auto; } }
      .service-card .content .square .description {
        font-size: 18px;
        line-height: 22px; }
        @media all and (min-width: 320px) and (max-width: 599px) {
          .service-card .content .square .description {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 10px; } }
      .service-card .content .square .btn {
        align-self: flex-end;
        width: 135px;
        height: 44px;
        border: 1px solid #050A26;
        color: #050A26;
        font-family: inherit;
        font-size: 22px;
        text-align: center;
        text-decoration: none;
        vertical-align: center;
        background-color: white;
        border-radius: 5px;
        cursor: pointer; }
        .service-card .content .square .btn:hover {
          border: none;
          color: white;
          background-color: #050A26; }

.main-partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1060px;
  border: 3px solid #C9801D;
  padding: 20px; }
  @media all and (min-width: 600px) and (max-width: 899px) {
    .main-partners {
      margin: 0 10px; } }
  @media all and (min-width: 320px) and (max-width: 599px) {
    .main-partners {
      justify-content: center;
      margin: 0 10px; } }
  .main-partners .logo {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0; }
    @media all and (min-width: 600px) and (max-width: 899px) {
      .main-partners .logo {
        margin: 30px 0; } }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .main-partners .logo {
        width: 50%;
        margin: 30px 0; } }
    @media all and (min-width: 600px) and (max-width: 899px) {
      .main-partners .logo img {
        width: 50%; } }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .main-partners .logo img {
        width: 70%; } }

.main-footer {
  max-width: 1200px;
  background-color: #050A26;
  margin: 0 auto;
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 90px; }
  @media all and (min-width: 600px) and (max-width: 899px) {
    .main-footer {
      flex-wrap: wrap;
      padding: 30px;
      justify-content: space-around; } }
  @media all and (min-width: 320px) and (max-width: 599px) {
    .main-footer {
      height: 350px;
      flex-wrap: wrap;
      padding: 20px;
      justify-content: space-around; } }
  .main-footer .logo {
    width: 161px;
    font-size: 30px;
    color: #BA8800;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center; }
    @media all and (min-width: 480px) and (max-width: 599px) {
      .main-footer .logo {
        width: 140px;
        font-size: 24px;
        letter-spacing: 5px; } }
    @media all and (min-width: 320px) and (max-width: 479px) {
      .main-footer .logo {
        width: 80px;
        font-size: 16px;
        letter-spacing: 3px; } }
    .main-footer .logo img {
      width: 100%;
      margin-bottom: 5px; }
    .main-footer .logo .-destaque {
      font-weight: bold; }
  .main-footer .local {
    width: 425px;
    color: white;
    font-size: 24px;
    font-weight: normal;
    line-height: 29px; }
    @media all and (min-width: 460px) and (max-width: 899px) {
      .main-footer .local {
        order: 2;
        font-size: 22px;
        line-height: 30px;
        text-align: center; } }
    @media all and (min-width: 320px) and (max-width: 459px) {
      .main-footer .local {
        order: 2;
        font-size: 18px;
        line-height: 26px;
        text-align: center; } }
    .main-footer .local .icon {
      display: inline-block;
      margin: 30px 32px 0 0;
      transition: transform 0.2s linear; }
      @media all and (min-width: 320px) and (max-width: 899px) {
        .main-footer .local .icon {
          margin: 15px 25px 0 0; } }
      .main-footer .local .icon:hover {
        transform: scale(1.1);
        transition: transform 0.2s linear; }
  .main-footer .contacts {
    width: 291px;
    color: #C9801D;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px; }
    @media all and (min-width: 480px) and (max-width: 599px) {
      .main-footer .contacts {
        font-size: 25px;
        line-height: 27px;
        text-align: right; } }
    @media all and (min-width: 320px) and (max-width: 479px) {
      .main-footer .contacts {
        width: 195px;
        font-size: 19px;
        line-height: 10px;
        text-align: right; } }
    .main-footer .contacts .contact {
      margin-bottom: 18px; }
      .main-footer .contacts .contact.-whatsapp::before {
        content: '';
        background: url(../img/icon-whatsapp.svg);
        background-repeat: no-repeat;
        padding: 0 20px; }
        @media all and (min-width: 320px) and (max-width: 479px) {
          .main-footer .contacts .contact.-whatsapp::before {
            padding: 7px 20px; } }
      .main-footer .contacts .contact.-email {
        margin-bottom: 33px; }
        @media all and (min-width: 320px) and (max-width: 599px) {
          .main-footer .contacts .contact.-email {
            margin-bottom: 0; } }
      .main-footer .contacts .contact .-destaque {
        font-size: 35px; }
        @media all and (min-width: 480px) and (max-width: 599px) {
          .main-footer .contacts .contact .-destaque {
            font-size: 30px; } }
        @media all and (min-width: 320px) and (max-width: 479px) {
          .main-footer .contacts .contact .-destaque {
            font-size: 25px; } }
    .main-footer .contacts .btn {
      display: block;
      border: none;
      width: 252px;
      height: 70px;
      font-family: inherit;
      font-size: 24px;
      font-weight: bold;
      background-color: #C9801D;
      color: white;
      cursor: pointer; }
      @media all and (min-width: 600px) and (max-width: 899px) {
        .main-footer .contacts .btn {
          width: 230px;
          height: 50px;
          margin-bottom: 35px;
          font-size: 20px; } }
      @media all and (min-width: 320px) and (max-width: 599px) {
        .main-footer .contacts .btn {
          display: none; } }
      .main-footer .contacts .btn:hover {
        background-color: white;
        color: #C9801D; }
