@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   indicado por Marco Bruno em 2018
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* incluido abaixo no curso para a imagem de BG fique na altura do dispositivo móvel */
html,
body {
  height: 100%; }

body {
  overflow-x: hidden;
  margin-top: 80px; }
  @media all and (min-width: 320px) and (max-width: 599px) {
    body {
      margin-top: 0; } }

body {
  font-family: "Asap Condensed", "Arial", sans-serif;
  background-color: white;
  color: #050A26; }

img {
  max-width: 100%;
  height: auto; }

.wrap-header {
  width: 100%;
  height: 80px;
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  z-index: 100;
  transition: height 300ms linear;
  /* 320px a 599px */ }
  .wrap-header.scrolleffect {
    /* acima de 900px */ }
    @media all and (min-width: 900px) {
      .wrap-header.scrolleffect {
        height: 60px;
        transition: height 300ms linear; } }
    .wrap-header.scrolleffect .imgLogo {
      width: 70px;
      transform: translateY(0);
      transition: all 300ms linear; }
    .wrap-header.scrolleffect .cotacao {
      font-size: 80%; }
  @media all and (min-width: 320px) and (max-width: 599px) {
    .wrap-header {
      position: relative;
      height: 60px;
      transition: height 300ms linear; } }

.brand-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 300px; }
  @media all and (min-width: 600px) and (max-width: 899px) {
    .brand-nav {
      justify-content: center;
      flex-direction: column;
      width: 60px; } }
  .brand-nav .imgLogo {
    width: 120px;
    margin-right: 15px;
    transition: all 300ms linear;
    transform: translateY(35%); }
    @media all and (min-width: 600px) and (max-width: 899px) {
      .brand-nav .imgLogo {
        transform: translateY(0);
        width: 80px;
        margin: 0 0 3px 0; } }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .brand-nav .imgLogo {
        display: none; } }
  .brand-nav .textLogo {
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 5px; }
    @media all and (min-width: 600px) and (max-width: 899px) {
      .brand-nav .textLogo {
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 3px; } }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .brand-nav .textLogo {
        font-weight: bold; } }
  .brand-nav .-destaque {
    font-weight: bold;
    color: #C9801D; }

.wrap-carousel {
  position: relative;
  width: 100%;
  margin: 0 auto; }

.main-segments {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0; }
  .main-segments .title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    /* 600px a 899px */
    /* 320px a 599px */ }
    @media all and (min-width: 600px) and (max-width: 899px) {
      .main-segments .title {
        font-size: 32px; } }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .main-segments .title {
        font-size: 25px; } }
    .main-segments .title .separator {
      margin: 0 15px;
      /* 320px a 499px */ }
      @media all and (min-width: 320px) and (max-width: 499px) {
        .main-segments .title .separator {
          display: none; } }
    .main-segments .title .-alternate {
      color: #C9801D;
      /* 320px a 499px */ }
      @media all and (min-width: 320px) and (max-width: 499px) {
        .main-segments .title .-alternate {
          display: block;
          margin-bottom: 5px; } }

.wrap-cards {
  position: relative;
  width: 100%; }

.wrap-services {
  width: 100%;
  padding-top: 20px;
  margin: 0 auto; }
  .wrap-services .wrap-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    text-align: center;
    /* 320px a 599px */ }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .wrap-services .wrap-title {
        flex-direction: column;
        margin-bottom: 30px; } }
    .wrap-services .wrap-title.-variation {
      flex-direction: column;
      margin: 20px 0 50px; }
    .wrap-services .wrap-title > .title {
      font-size: 50px;
      font-weight: bold;
      margin-right: 20px;
      color: #050A26;
      /* 600px a 899px */
      /* 320px a 599px */ }
      .wrap-services .wrap-title > .title.-invert {
        color: #C9801D; }
      @media all and (min-width: 600px) and (max-width: 899px) {
        .wrap-services .wrap-title > .title {
          font-size: 40px;
          margin-right: 10px; } }
      @media all and (min-width: 320px) and (max-width: 599px) {
        .wrap-services .wrap-title > .title {
          font-size: 35px;
          margin: 5px 20px; } }
    .wrap-services .wrap-title > .subtitle {
      font-size: 24px;
      margin-top: 10px;
      color: #C9801D;
      /* 600px a 899px */ }
      .wrap-services .wrap-title > .subtitle.-invert {
        color: #050A26; }
      @media all and (min-width: 600px) and (max-width: 899px) {
        .wrap-services .wrap-title > .subtitle {
          font-size: 20px;
          margin-right: 5px; } }
      @media all and (min-width: 320px) and (max-width: 599px) {
        .wrap-services .wrap-title > .subtitle {
          font-size: 18px;
          margin: 0 20px;
          text-align: center; } }
      .wrap-services .wrap-title > .subtitle .-destaque {
        text-transform: uppercase; }

.wrap-partners {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto; }
  .wrap-partners .wrap-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    padding: 0 100px;
    /* 600px a 899px */
    /* 320px a 599px */ }
    @media all and (min-width: 600px) and (max-width: 899px) {
      .wrap-partners .wrap-title {
        padding: 0 60px; } }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .wrap-partners .wrap-title {
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        padding: 0 20px; } }
    .wrap-partners .wrap-title > .title {
      font-size: 50px;
      font-weight: bold;
      margin-right: 20px;
      color: #050A26;
      /* de 600px a 899px */
      /* de 320px a 599px */ }
      @media all and (min-width: 600px) and (max-width: 899px) {
        .wrap-partners .wrap-title > .title {
          font-size: 40px; } }
      @media all and (min-width: 320px) and (max-width: 599px) {
        .wrap-partners .wrap-title > .title {
          display: block;
          font-size: 30px; } }
    .wrap-partners .wrap-title > .subtitle {
      font-size: 24px;
      line-height: 1.2;
      color: #C9801D;
      text-align: left;
      /* 600px a 899px */
      /* 320px a 599px */ }
      @media all and (min-width: 600px) and (max-width: 899px) {
        .wrap-partners .wrap-title > .subtitle {
          font-size: 20px;
          margin-top: 5px; } }
      @media all and (min-width: 320px) and (max-width: 599px) {
        .wrap-partners .wrap-title > .subtitle {
          font-size: 18px;
          text-align: center; } }

.wrap-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: calc(100vw * 0.45);
  max-height: 540px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #efc0c0;
  /* de 320px a 599px */ }
  @media all and (min-width: 320px) and (max-width: 599px) {
    .wrap-panel {
      height: auto;
      background-color: transparent; } }
  .wrap-panel.-seguros {
    justify-content: flex-start;
    background-color: transparent;
    background-image: url(../img/imgPanel-seguros-lg.jpg);
    background-size: cover;
    /* de 320px a 599px */ }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .wrap-panel.-seguros {
        height: calc(100vw * 0.45);
        justify-content: center;
        align-items: flex-start;
        background-color: transparent;
        background-image: url(../img/imgPanel-seguros-sm.jpg);
        background-size: cover; }
        .wrap-panel.-seguros .description {
          display: none; } }
  .wrap-panel.-consorcios {
    justify-content: flex-start;
    background-color: transparent;
    background-image: url(../img/imgPanel-consorcios-lg.jpg);
    background-size: cover;
    /* de 320px a 599px */ }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .wrap-panel.-consorcios {
        height: calc(100vw * 0.45);
        justify-content: center;
        align-items: flex-start;
        background-color: transparent;
        background-image: url(../img/imgPanel-consorcios-sm.jpg);
        background-size: cover; }
        .wrap-panel.-consorcios .description {
          display: none; } }
  .wrap-panel.-beneficios {
    justify-content: flex-start;
    background-color: transparent;
    background-image: url(../img/imgPanel-beneficios-lg.jpg);
    background-size: cover;
    /* de 320px a 599px */ }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .wrap-panel.-beneficios {
        height: calc(100vw * 0.45);
        justify-content: center;
        align-items: flex-start;
        background-color: transparent;
        background-image: url(../img/imgPanel-beneficios-sm.jpg);
        background-size: cover; }
        .wrap-panel.-beneficios .description {
          display: none; } }
  .wrap-panel.-saudeodonto {
    justify-content: flex-start;
    background-color: transparent;
    background-image: url(../img/imgPanel-saudeodonto-lg.jpg);
    background-size: cover;
    /* de 320px a 599px */ }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .wrap-panel.-saudeodonto {
        height: calc(100vw * 0.45);
        justify-content: center;
        align-items: flex-start;
        background-color: transparent;
        background-image: url(../img/imgPanel-saudeodonto-sm.jpg);
        background-size: cover; }
        .wrap-panel.-saudeodonto .description {
          display: none; } }
  .wrap-panel.-consultoria {
    justify-content: flex-start;
    background-color: transparent;
    background-image: url(../img/imgPanel-consultoria-lg.jpg);
    background-size: cover;
    /* de 320px a 599px */ }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .wrap-panel.-consultoria {
        height: calc(100vw * 0.45);
        justify-content: center;
        align-items: flex-start;
        background-color: transparent;
        background-image: url(../img/imgPanel-consultoria-sm.jpg);
        background-size: cover; }
        .wrap-panel.-consultoria .description {
          display: none; } }

.wrap-team {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto; }
  .wrap-team > .title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #050A26;
    margin: 35px 0;
    /* 320px a 899px */ }
    @media all and (min-width: 320px) and (max-width: 899px) {
      .wrap-team > .title {
        font-size: 35px; } }
  .wrap-team .wrap-team-cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
    /* 320px a 599px */ }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .wrap-team .wrap-team-cards {
        justify-content: space-around; } }

.public-type {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto;
  /* 320px a 599px */ }
  @media all and (min-width: 320px) and (max-width: 599px) {
    .public-type {
      flex-direction: column;
      align-items: center; } }
  .public-type .title {
    width: 320px;
    height: 57px;
    font-family: inherit;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    color: white;
    background-color: #C9801D;
    /* 320px a 899px */ }
    @media all and (min-width: 320px) and (max-width: 899px) {
      .public-type .title {
        width: 220px;
        height: 45px;
        font-size: 20px;
        margin: 10px; } }
    .public-type .title.-dark {
      background-color: #050A26; }

.btn-toup {
  display: none;
  position: fixed;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  opacity: 0.5;
  transition: opacity 0.2s linear;
  z-index: 20; }
  .btn-toup:hover {
    opacity: 1;
    transition: opacity 0.2s linear; }
  .btn-toup.-visible {
    display: block; }

.btn-cotacao {
  display: none;
  /* 320px a 599px */ }
  @media all and (min-width: 320px) and (max-width: 599px) {
    .btn-cotacao {
      display: block;
      border: none;
      width: 252px;
      height: 78px;
      margin: 0 auto;
      font-family: inherit;
      font-size: 24px;
      font-weight: bold;
      background-color: #C9801D;
      color: white;
      cursor: pointer;
      transition: all 300ms linear; }
      .btn-cotacao:hover {
        background-color: #050A26; } }

.main-btnMenu {
  position: relative;
  display: block;
  cursor: pointer;
  float: right; }
  .main-btnMenu .bar1, .main-btnMenu .bar2, .main-btnMenu .bar3 {
    width: 30px;
    height: 4px;
    background-color: #050A26;
    margin: 6px 0;
    transition: 500ms; }
  .main-btnMenu.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px); }
  .main-btnMenu.change .bar2 {
    opacity: 0; }
  .main-btnMenu.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -6px);
    transform: rotate(45deg) translate(-8px, -6px); }

.main-navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  padding-left: 40px;
  /* 600px a 999px */
  /* 320px a 599px */ }
  @media all and (min-width: 600px) and (max-width: 999px) {
    .main-navigation {
      padding-left: 30px; } }
  @media all and (max-width: 599px) {
    .main-navigation {
      padding: 0 20px; } }
  .main-navigation .main-btnMenu {
    display: none;
    /* 320px a 599px */ }
    @media all and (max-width: 599px) {
      .main-navigation .main-btnMenu {
        display: block; } }

.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px;
  height: 100%; }
  .nav-bar > .menu {
    text-align: right;
    /* 320px a 599px */ }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .nav-bar > .menu {
        position: absolute;
        display: block;
        background-color: #050A26;
        width: 260px;
        height: 500px;
        top: 60px;
        right: 0;
        opacity: 0.85;
        z-index: 10;
        font-weight: bold;
        line-height: 50px;
        padding: 10px 20px;
        transform: translateX(200%);
        transition: transform 300ms linear; } }
    .nav-bar > .menu.menu-open {
      transform: translateX(0);
      visibility: visible; }
    .nav-bar > .menu > .item {
      display: inline-block;
      padding-right: 50px;
      /* 1101px a 1199px */
      /* 1000px a 1100px */
      /* 900px a 999px */
      /* 600px a 899px */
      /* até 599px */ }
      @media all and (min-width: 1101px) and (max-width: 1199px) {
        .nav-bar > .menu > .item {
          padding-right: 45px; } }
      @media all and (min-width: 1000px) and (max-width: 1100px) {
        .nav-bar > .menu > .item {
          padding-right: 40px;
          font-size: 22px; } }
      @media all and (min-width: 900px) and (max-width: 999px) {
        .nav-bar > .menu > .item {
          padding-right: 40px;
          font-size: 17px; } }
      @media all and (min-width: 600px) and (max-width: 899px) {
        .nav-bar > .menu > .item {
          padding-right: 40px;
          font-size: 15px; } }
      @media all and (max-width: 599px) {
        .nav-bar > .menu > .item {
          width: 100%;
          text-align: left; } }
      .nav-bar > .menu > .item:not(:last-child) {
        /* até 599px */ }
        @media all and (max-width: 599px) {
          .nav-bar > .menu > .item:not(:last-child) {
            border-bottom: 1px solid white; } }
      .nav-bar > .menu > .item > .action {
        position: relative;
        color: #050A26;
        list-style: none;
        text-decoration: none;
        cursor: pointer;
        /* até 599px */ }
        @media all and (max-width: 599px) {
          .nav-bar > .menu > .item > .action {
            color: white; } }
        .nav-bar > .menu > .item > .action:after {
          /* a partir de 600px */ }
          @media all and (min-width: 600px) {
            .nav-bar > .menu > .item > .action:after {
              content: "";
              height: 4px;
              width: 100%;
              background-color: #C9801D;
              position: absolute;
              bottom: -5px;
              left: 0;
              transform: scaleX(0);
              transition: transform 200ms linear;
              transform-origin: center; } }
        .nav-bar > .menu > .item > .action:hover {
          color: #C9801D;
          /* até 599px */ }
          @media all and (max-width: 599px) {
            .nav-bar > .menu > .item > .action:hover {
              border: none;
              color: #C9801D; } }
        .nav-bar > .menu > .item > .action:hover:after {
          transform: scale(1); }
      .nav-bar > .menu > .item .submenu {
        display: none;
        width: 220px;
        font-size: 20px;
        line-height: 40px;
        text-decoration: none;
        color: #C9801D;
        border-top: 1px solid white;
        /* até 599px */ }
        @media all and (max-width: 599px) {
          .nav-bar > .menu > .item .submenu.active {
            display: block; } }
        .nav-bar > .menu > .item .submenu li {
          padding-left: 10px; }
          .nav-bar > .menu > .item .submenu li a {
            text-decoration: none;
            color: inherit; }
  .nav-bar > .cotacao {
    display: inline-block;
    border: none;
    background-color: #C9801D;
    width: 252px;
    height: 100%;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.5px;
    color: white;
    padding: 0 50px;
    cursor: pointer;
    transition: all 300ms linear;
    /* 1100 a 1199 */
    /* 1000 a 1099px */
    /* 700 a 999px */
    /* 600 a 699px */
    /* até 599px */ }
    .nav-bar > .cotacao:hover {
      background-color: #050A26; }
    @media all and (min-width: 1100px) and (max-width: 1199px) {
      .nav-bar > .cotacao {
        width: 220px;
        padding: 0 20px; } }
    @media all and (min-width: 1000px) and (max-width: 1099px) {
      .nav-bar > .cotacao {
        width: 200px;
        padding: 0 15px; } }
    @media all and (min-width: 700px) and (max-width: 999px) {
      .nav-bar > .cotacao {
        width: 160px;
        padding: 0 12px;
        font-size: 20px; } }
    @media all and (min-width: 600px) and (max-width: 699px) {
      .nav-bar > .cotacao {
        width: 120px;
        padding: 0 10px;
        font-size: 17px; } }
    @media all and (max-width: 599px) {
      .nav-bar > .cotacao {
        display: none; } }

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; }

.glide * {
  box-sizing: inherit; }

.glide__track {
  overflow: hidden; }

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform; }

.glide__slides--dragging {
  user-select: none; }

.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent; }

.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none; }

.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none; }

.glide--rtl {
  direction: rtl; }

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1; }

.glide__arrow:focus {
  outline: none; }

.glide__arrow:hover {
  border-color: white; }

.glide__arrow--left {
  left: 2em; }

.glide__arrow--right {
  right: 2em; }

.glide__arrow--disabled {
  opacity: 0.33; }

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%); }

.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em; }

.glide__bullet:focus {
  outline: none; }

.glide__bullet:hover, .glide__bullet:focus {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5); }

.glide__bullet--active {
  background-color: white; }

.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }

.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }

.main-carousel {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%; }
  .main-carousel .cards {
    height: calc(100vw * 0.45);
    max-height: 540px;
    /* 320px a 599px */ }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .main-carousel .cards {
        height: 240px; } }
    .main-carousel .cards .card {
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      /* até 599px */
      /* a partir de 600px */ }
      @media all and (max-width: 599px) {
        .main-carousel .cards .card {
          justify-content: space-between;
          align-items: center;
          padding: 10px 5px; }
          .main-carousel .cards .card.-img1 {
            background-image: url(../img/imgSlider-seguros-sm.jpg); }
          .main-carousel .cards .card.-img2 {
            background-image: url(../img/imgSlider-consorcios-sm.jpg); }
          .main-carousel .cards .card.-img3 {
            background-image: url(../img/imgSlider-beneficios-sm.jpg); }
          .main-carousel .cards .card.-img4 {
            background-image: url(../img/imgSlider-consultoria-sm.jpg); } }
      @media all and (min-width: 600px) {
        .main-carousel .cards .card.-img1 {
          background-image: url(../img/imgSlider-seguros-lg.jpg); }
        .main-carousel .cards .card.-img2 {
          background-image: url(../img/imgSlider-consorcios-lg.jpg); }
        .main-carousel .cards .card.-img3 {
          background-image: url(../img/imgSlider-beneficios-lg.jpg); }
        .main-carousel .cards .card.-img4 {
          background-image: url(../img/imgSlider-consultoria-lg.jpg); } }
      .main-carousel .cards .card .title,
      .main-carousel .cards .card .text,
      .main-carousel .cards .card .btn {
        max-width: 395px;
        margin: 0 0 20px 130px;
        /* 600px a 899px */
        /* 320px a 599px */ }
        @media all and (min-width: 600px) and (max-width: 899px) {
          .main-carousel .cards .card .title,
          .main-carousel .cards .card .text,
          .main-carousel .cards .card .btn {
            max-width: 250px;
            margin: 0 0 10px 90px; } }
        @media all and (min-width: 320px) and (max-width: 599px) {
          .main-carousel .cards .card .title,
          .main-carousel .cards .card .text,
          .main-carousel .cards .card .btn {
            width: 100%;
            max-width: 100%;
            margin: 0; } }
      .main-carousel .cards .card .title {
        font-size: 70px;
        font-weight: bold;
        color: #050A26;
        /* 600px a 899px */
        /* 320px a 599px */ }
        @media all and (min-width: 600px) and (max-width: 899px) {
          .main-carousel .cards .card .title {
            font-size: 35px; } }
        @media all and (min-width: 320px) and (max-width: 599px) {
          .main-carousel .cards .card .title {
            font-size: 30px; } }
      .main-carousel .cards .card .text {
        font-size: 30px;
        color: #050A26;
        line-height: 1.2;
        /* 600px a 899px */
        /* 320px a 599px */ }
        @media all and (min-width: 600px) and (max-width: 899px) {
          .main-carousel .cards .card .text {
            font-size: 15px; } }
        @media all and (min-width: 320px) and (max-width: 599px) {
          .main-carousel .cards .card .text {
            display: none; } }
      .main-carousel .cards .card .btn {
        border: none;
        width: 165px;
        height: 57px;
        font-family: inherit;
        font-size: 22px;
        font-weight: bold;
        background-color: #C9801D;
        color: white;
        cursor: pointer;
        transition: all 300ms linear;
        z-index: 5;
        /* 600px a 899px */
        /* 320px a 599px */ }
        .main-carousel .cards .card .btn:hover {
          background-color: #050A26; }
        @media all and (min-width: 600px) and (max-width: 899px) {
          .main-carousel .cards .card .btn {
            width: 125px;
            height: 44px;
            font-size: 17px; } }
        @media all and (min-width: 320px) and (max-width: 599px) {
          .main-carousel .cards .card .btn {
            width: 110px;
            height: 44px;
            font-size: 20px;
            background-color: transparent;
            color: #C9801D;
            align-self: flex-end; }
            .main-carousel .cards .card .btn .-variant {
              /* 320px a 599px */ } }
    @media all and (min-width: 320px) and (max-width: 599px) and (min-width: 320px) and (max-width: 599px) {
      .main-carousel .cards .card .btn .-variant {
        display: none; } }
        @media all and (min-width: 320px) and (max-width: 599px) {
            .main-carousel .cards .card .btn::after {
              content: "";
              background-image: url(../img/btn-saibamais-medium.jpg);
              padding: 10px 22px;
              margin-left: 10px; }
            .main-carousel .cards .card .btn:hover {
              background-color: transparent; } }

.glide {
  /* até 1200px */ }
  @media all and (max-width: 1200px) {
    .glide {
      position: static; } }

.glide__slides {
  margin-block-start: 0;
  margin-block-end: 0; }

.glide__bullets {
  bottom: 1em; }

.glide__bullet {
  height: 20px;
  width: 20px;
  border: none;
  background-color: #C9801D;
  opacity: 0.5;
  cursor: pointer;
  /* 600px a 899px */
  /* 320px a 599px */ }
  @media all and (min-width: 600px) and (max-width: 899px) {
    .glide__bullet {
      height: 15px;
      width: 15px; } }
  @media all and (min-width: 320px) and (max-width: 599px) {
    .glide__bullet {
      display: none; } }
  .glide__bullet:hover, .glide__bullet--active {
    background-color: #C9801D;
    border: none;
    opacity: 1; }

.glide__arrow {
  background: none;
  border: none;
  color: transparent;
  padding: 0;
  box-shadow: none;
  width: 20px;
  opacity: 0.4;
  /* 320px a 599px */ }
  @media all and (min-width: 320px) and (max-width: 599px) {
    .glide__arrow {
      display: none; } }

.btn-cards {
  font-family: inherit;
  font-size: 22px;
  cursor: pointer;
  transition: all 300ms linear;
  text-decoration: none; }
  .btn-cards.saibamais {
    width: 135px;
    height: 44px;
    line-height: 44px;
    border: 1px solid #050A26;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    /* acima de 600px */
    /* 320px a 599px */ }
    @media all and (min-width: 600px) {
      .btn-cards.saibamais:hover, .btn-cards.saibamais.hovereffect {
        border: none;
        color: white;
        background-color: #050A26; } }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .btn-cards.saibamais {
        width: 110px;
        height: 44px;
        background-color: transparent;
        text-align: right;
        color: #050A26;
        border: none; }
        .btn-cards.saibamais .-variant {
          /* 320px a 599px */ } }
    @media all and (min-width: 320px) and (max-width: 599px) and (min-width: 320px) and (max-width: 599px) {
      .btn-cards.saibamais .-variant {
        display: none; } }
    @media all and (min-width: 320px) and (max-width: 599px) {
        .btn-cards.saibamais::after {
          content: "";
          background-image: url(../img/btn-saibamais-light.svg);
          background-repeat: no-repeat;
          padding: 10px 25px;
          margin-left: 10px; } }
  .btn-cards.contrateagora {
    width: 350px;
    height: 44px;
    color: white;
    background-color: #050A26;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    text-align: left; }
    .btn-cards.contrateagora:before {
      content: "";
      background-image: url(../img/icon-seta-right-light.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      padding: 5px;
      margin: 0 10px; }
    .btn-cards.contrateagora:hover:before {
      content: "";
      background-image: url(../img/icon-seta-right-dark.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      padding: 5px;
      margin: 0 10px; }
    .btn-cards.contrateagora:hover, .btn-cards.contrateagora.hovereffect {
      border: 1px solid #050A26;
      color: #050A26;
      background-color: white; }
  .btn-cards.vejamais {
    width: 135px;
    height: 44px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: none;
    color: white;
    background-color: #C9801D;
    border-radius: 5px;
    text-decoration: none; }
    .btn-cards.vejamais:after {
      content: "";
      background-image: url(../img/icon-seta-buttom-light.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      padding: 10px;
      margin: 0 10px; }
    .btn-cards.vejamais:hover, .btn-cards.vejamais.hovereffect {
      border: none;
      color: white;
      background-color: #C9801D; }
  .btn-cards.cotacao {
    width: 200px;
    height: 44px;
    line-height: 44px;
    color: #050A26;
    border: 1px solid #050A26;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center; }
    .btn-cards.cotacao:hover, .btn-cards.cotacao.hovereffect {
      border: none;
      color: white;
      background-color: #050A26; }

.main-card {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1060px;
  width: 100%;
  height: 240px;
  margin: 0 auto;
  /* 900px a 1199px */
  /* 600px a 899px */
  /* 320px a 599px */ }
  .main-card:not(:last-child) {
    margin-bottom: 120px;
    /* 600px a 899px */
    /* 320px a 599px */ }
    @media all and (min-width: 600px) and (max-width: 899px) {
      .main-card:not(:last-child) {
        margin-bottom: 60px; } }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .main-card:not(:last-child) {
        margin-bottom: 40px; } }
  .main-card.-sembtntotop {
    margin-bottom: 120px; }
  @media all and (min-width: 900px) and (max-width: 1199px) {
    .main-card {
      max-width: 860px;
      height: 194px; } }
  @media all and (min-width: 600px) and (max-width: 899px) {
    .main-card {
      max-width: 570px;
      height: 175px;
      justify-content: flex-start; } }
  @media all and (min-width: 320px) and (max-width: 599px) {
    .main-card {
      width: 100%;
      height: auto;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; } }
  .main-card .image {
    position: relative;
    flex-wrap: wrap;
    width: 360px;
    overflow: hidden;
    /* 900px a 1199px */
    /* 600px a 899px */
    /* 320px a 599px */ }
    @media all and (min-width: 900px) and (max-width: 1199px) {
      .main-card .image {
        width: 290px;
        height: 193.3px; } }
    @media all and (min-width: 600px) and (max-width: 899px) {
      .main-card .image {
        width: 217.5px;
        height: 145px; } }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .main-card .image {
        order: 1;
        width: 320px;
        margin-bottom: 20px; } }
    .main-card .image:after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #C9801D;
      opacity: 0;
      transition: opacity 300ms linear; }
    .main-card .image:hover:after, .main-card .image.hovereffect:after {
      background-color: #C9801D;
      opacity: 0.5; }
  .main-card .header {
    align-self: flex-end;
    order: 2;
    width: 680px;
    height: 50px;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* 900px a 1199px */
    /* 600px a 899px */
    /* 320px a 599px */ }
    @media all and (min-width: 900px) and (max-width: 1199px) {
      .main-card .header {
        width: 550px;
        height: 35px;
        align-items: baseline; } }
    @media all and (min-width: 600px) and (max-width: 899px) {
      .main-card .header {
        width: 340px;
        height: 30px;
        align-items: baseline;
        padding-bottom: 5px; } }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .main-card .header {
        justify-content: center;
        order: 0;
        width: 100%;
        height: auto;
        margin-bottom: 10px; } }
    .main-card .header .title {
      font-size: 40px;
      font-weight: bold;
      color: #050A26;
      margin-right: 20px;
      /* 900px a 1199px */
      /* 600px a 899px */
      /* 320px a 599px */ }
      @media all and (min-width: 900px) and (max-width: 1199px) {
        .main-card .header .title {
          font-size: 30px; } }
      @media all and (min-width: 600px) and (max-width: 899px) {
        .main-card .header .title {
          font-size: 20px;
          margin-right: 10px; } }
      @media all and (min-width: 320px) and (max-width: 599px) {
        .main-card .header .title {
          font-size: 30px;
          margin: 0; } }
    .main-card .header .subtitle {
      font-size: 28px;
      font-weight: normal;
      color: #C9801D;
      /* 900px a 1199px */
      /* 600px a 899px */
      /* 320px a 599px */ }
      @media all and (min-width: 900px) and (max-width: 1199px) {
        .main-card .header .subtitle {
          font-size: 20px; } }
      @media all and (min-width: 600px) and (max-width: 899px) {
        .main-card .header .subtitle {
          font-size: 14px; } }
      @media all and (min-width: 320px) and (max-width: 599px) {
        .main-card .header .subtitle {
          display: none; } }
    .main-card .header .icone {
      padding-left: 60px;
      background-repeat: no-repeat;
      background-size: contain;
      /* 600px a 899px */
      /* 320px a 599px */ }
      @media all and (min-width: 600px) and (max-width: 899px) {
        .main-card .header .icone {
          padding-left: 30px; } }
      @media all and (min-width: 320px) and (max-width: 599px) {
        .main-card .header .icone {
          padding-left: 40px; } }
      .main-card .header .icone#seguro-vida {
        background-image: url(../img/iconCard-seguro-vida.svg); }
      .main-card .header .icone#seguro-auto {
        background-image: url(../img/iconCard-seguro-auto.svg); }
      .main-card .header .icone#seguro-residencial {
        background-image: url(../img/iconCard-seguro-residencial.svg); }
      .main-card .header .icone#seguro-viagem {
        background-image: url(../img/iconCard-seguro-viagem.svg); }
      .main-card .header .icone#seguro-garantia {
        background-image: url(../img/iconCard-seguro-garantia.svg); }
      .main-card .header .icone#seguro-frota {
        background-image: url(../img/iconCard-seguro-frota.svg); }
      .main-card .header .icone#seguro-transporte-carga {
        background-image: url(../img/iconCard-seguro-transporte-carga.svg); }
      .main-card .header .icone#seguro-patrimonial {
        background-image: url(../img/iconCard-seguro-patrimonial.svg); }
      .main-card .header .icone#seguro-vida-coletiva {
        background-image: url(../img/iconCard-seguro-vida-coletiva.svg); }
      .main-card .header .icone#consorcio-auto {
        background-image: url(../img/iconCard-consorcio-auto.svg); }
      .main-card .header .icone#consorcio-imovel {
        background-image: url(../img/iconCard-consorcio-imovel.svg); }
      .main-card .header .icone#consorcio-servicos {
        background-image: url(../img/iconCard-consorcio-servicos.svg); }
      .main-card .header .icone#beneficios {
        background-image: url(../img/iconCard-beneficios.svg); }
      .main-card .header .icone#consultoria-diagnostico {
        background-image: url(../img/iconCard-consultoria-diagnostico.svg); }
      .main-card .header .icone#consultoria-planejamento {
        background-image: url(../img/iconCard-consultoria-planejamento.svg); }
      .main-card .header .icone#consultoria-renegociacao {
        background-image: url(../img/iconCard-consultoria-renegociacao.svg); }
      .main-card .header .icone#consultoria-gestao {
        background-image: url(../img/iconCard-consultoria-gestao.svg); }
    .main-card .header.-invert .title {
      color: #C9801D; }
    .main-card .header.-invert .subtitle {
      color: #050A26; }
  .main-card .square {
    position: relative;
    flex-wrap: wrap;
    align-self: flex-end;
    width: 680px;
    height: 190px;
    padding: 20px;
    color: #C9801D;
    border: 1px solid #C9801D;
    /* 900px a 1199px */
    /* 600px a 899px */
    /* 320px a 599px */ }
    @media all and (min-width: 900px) and (max-width: 1199px) {
      .main-card .square {
        width: 550px;
        height: 159px;
        padding: 15px; } }
    @media all and (min-width: 600px) and (max-width: 899px) {
      .main-card .square {
        width: 340px;
        height: 145px;
        padding: 10px; } }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .main-card .square {
        order: 2;
        width: 95%;
        height: 220px;
        margin: 0 auto;
        padding: 10px; } }
    .main-card .square.-dark {
      border: 1px solid #050A26; }
    .main-card .square .description {
      font-size: 18px;
      line-height: 22px;
      /* 900px a 1199px */
      /* 600px a 899px */
      /* 320px a 599px */ }
      .main-card .square .description .-destaque {
        font-weight: bold;
        text-transform: uppercase; }
      @media all and (min-width: 900px) and (max-width: 1199px) {
        .main-card .square .description {
          font-size: 15px;
          line-height: 20px; } }
      @media all and (min-width: 600px) and (max-width: 899px) {
        .main-card .square .description {
          font-size: 12px;
          line-height: 16px; } }
      @media all and (min-width: 320px) and (max-width: 599px) {
        .main-card .square .description {
          font-size: 16px;
          line-height: 20px; } }
    .main-card .square .btn-cards {
      position: absolute;
      bottom: 20px;
      right: 20px;
      /* 900px a 1199px */
      /* 600px a 899px */
      /* 320px a 599px */ }
      @media all and (min-width: 900px) and (max-width: 1199px) {
        .main-card .square .btn-cards {
          bottom: 15px;
          right: 15px; } }
      @media all and (min-width: 600px) and (max-width: 899px) {
        .main-card .square .btn-cards {
          bottom: 10px;
          right: 10px; }
          .main-card .square .btn-cards.contrateagora {
            font-size: 16px;
            width: 255px; } }
      @media all and (min-width: 320px) and (max-width: 599px) {
        .main-card .square .btn-cards {
          bottom: 10px;
          right: 10px; }
          .main-card .square .btn-cards.contrateagora {
            font-size: 16px;
            width: 255px; } }

.main-partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1060px;
  border: 1px solid #C9801D;
  padding: 20px;
  /* de 600px a 1199px */
  /* de 320px a 599px */ }
  @media all and (min-width: 600px) and (max-width: 1199px) {
    .main-partners {
      margin: 0 10px; } }
  @media all and (min-width: 320px) and (max-width: 599px) {
    .main-partners {
      justify-content: center;
      margin: 0 10px; } }
  .main-partners .arealogo {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    /* de 600px a 899px */
    /* de 320px a 599px */ }
    @media all and (min-width: 600px) and (max-width: 899px) {
      .main-partners .arealogo {
        width: 33%;
        margin: 30px 0; } }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .main-partners .arealogo {
        width: 50%;
        margin: 25px 0; } }
    .main-partners .arealogo .logo {
      width: 40%;
      /* de 600px a 899px */
      /* de 320px a 599px */ }
      @media all and (min-width: 600px) and (max-width: 899px) {
        .main-partners .arealogo .logo {
          width: 45%; } }
      @media all and (min-width: 320px) and (max-width: 599px) {
        .main-partners .arealogo .logo {
          width: 45%; } }

.main-footer {
  max-width: 1200px;
  background-color: #050A26;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 110px 90px 80px;
  /* 900px a 1199px */
  /* 600px a 899px */
  /* 320px a 599px */ }
  @media all and (min-width: 900px) and (max-width: 1199px) {
    .main-footer {
      justify-content: center;
      padding: 50px; } }
  @media all and (min-width: 600px) and (max-width: 899px) {
    .main-footer {
      justify-content: center;
      padding: 30px 15px; } }
  @media all and (min-width: 320px) and (max-width: 599px) {
    .main-footer {
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px 10px; } }
  .main-footer .logo {
    width: 161px;
    font-size: 30px;
    color: #BA8800;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    /* de 900px a 1199px */
    /* de 600px a 899px */
    /* de 320px a 599px */ }
    @media all and (min-width: 900px) and (max-width: 1199px) {
      .main-footer .logo {
        width: 140px;
        font-size: 26px; } }
    @media all and (min-width: 600px) and (max-width: 899px) {
      .main-footer .logo {
        width: 80px;
        font-size: 15px;
        letter-spacing: 4px; } }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .main-footer .logo {
        width: 80px;
        font-size: 15px;
        letter-spacing: 4px;
        margin-right: 40px; } }
    .main-footer .logo .-destaque {
      font-weight: bold; }
  .main-footer .local {
    width: 425px;
    color: white;
    font-size: 24px;
    font-weight: normal;
    line-height: 35px;
    /* 900px a 1199px */
    /* de 600px a 899px */
    /* de 320px a 599px */ }
    @media all and (min-width: 900px) and (max-width: 1199px) {
      .main-footer .local {
        width: 350px;
        font-size: 20px;
        line-height: 30px;
        margin: 0 30px; } }
    @media all and (min-width: 600px) and (max-width: 899px) {
      .main-footer .local {
        width: 310px;
        font-size: 15px;
        line-height: 20px;
        margin: 0 15px; } }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .main-footer .local {
        order: 2;
        font-size: 15px;
        line-height: 20px;
        text-align: center; } }
    .main-footer .local .icons {
      display: flex;
      width: 100%;
      height: 44px;
      margin-top: 30px;
      /* de 320px a 599px */ }
      @media all and (min-width: 320px) and (max-width: 599px) {
        .main-footer .local .icons {
          justify-content: center; } }
      .main-footer .local .icons .icon {
        height: 100%;
        transition: transform 0.2s linear; }
        .main-footer .local .icons .icon:not(:last-child) {
          margin-right: 44px; }
        .main-footer .local .icons .icon:first-child {
          margin-right: 24px; }
        .main-footer .local .icons .icon:hover {
          transform: scale(1.1);
          transition: transform 0.2s linear; }
  .main-footer .contacts {
    width: 291px;
    color: #C9801D;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    /* 900px a 1199px */
    /* 600px a 899px */
    /* de 320px a 599px */ }
    @media all and (min-width: 900px) and (max-width: 1199px) {
      .main-footer .contacts {
        width: 252px;
        font-size: 25px;
        line-height: 15px; } }
    @media all and (min-width: 600px) and (max-width: 899px) {
      .main-footer .contacts {
        width: 150px;
        font-size: 15px;
        line-height: 12px; } }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .main-footer .contacts {
        width: 150px;
        font-size: 15px;
        line-height: 12px;
        margin-bottom: 30px; } }
    .main-footer .contacts .contact {
      margin-bottom: 18px; }
      .main-footer .contacts .contact.-email {
        margin-bottom: 33px;
        /* 600px a 899px */
        /* 320px a 599px */ }
        @media all and (min-width: 600px) and (max-width: 899px) {
          .main-footer .contacts .contact.-email {
            margin-bottom: 20px; } }
        @media all and (min-width: 320px) and (max-width: 599px) {
          .main-footer .contacts .contact.-email {
            margin-bottom: 0; } }
      .main-footer .contacts .contact .-destaque {
        font-size: 35px;
        /* 900px a 1199px */
        /* 600px a 899px */
        /* 320px a 599px */ }
        @media all and (min-width: 900px) and (max-width: 1199px) {
          .main-footer .contacts .contact .-destaque {
            font-size: 30px; } }
        @media all and (min-width: 600px) and (max-width: 899px) {
          .main-footer .contacts .contact .-destaque {
            font-size: 25px; } }
        @media all and (min-width: 320px) and (max-width: 599px) {
          .main-footer .contacts .contact .-destaque {
            font-size: 25px; } }
    .main-footer .contacts .btn {
      display: block;
      border: none;
      width: 252px;
      height: 70px;
      font-family: inherit;
      font-size: 24px;
      font-weight: bold;
      background-color: #C9801D;
      color: white;
      cursor: pointer;
      transition: all 300ms linear;
      /* de 600px a 899px */
      /* de 600px a 899px */
      /* de 320px a 599px */ }
      @media all and (min-width: 900px) and (max-width: 1199px) {
        .main-footer .contacts .btn {
          width: 240px;
          height: 60px;
          font-size: 20px; } }
      @media all and (min-width: 600px) and (max-width: 899px) {
        .main-footer .contacts .btn {
          width: 150px;
          height: 50px;
          font-size: 18px; } }
      @media all and (min-width: 320px) and (max-width: 599px) {
        .main-footer .contacts .btn {
          display: none; } }
      .main-footer .contacts .btn:hover {
        background-color: white;
        color: #C9801D; }

.main-panel {
  margin: 0 120px;
  /* de 700px a 799px */
  /* de 600px a 699px */
  /* de 320px a 599px */ }
  @media all and (min-width: 700px) and (max-width: 699px) {
    .main-panel {
      margin: 0 50px; } }
  @media all and (min-width: 600px) and (max-width: 699px) {
    .main-panel {
      margin: 0 40px; } }
  @media all and (min-width: 320px) and (max-width: 599px) {
    .main-panel {
      margin: 20px 0; } }
  .main-panel .title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    /* de 600px a 899px */
    /* de 320px a 599px */ }
    @media all and (min-width: 600px) and (max-width: 899px) {
      .main-panel .title {
        font-size: 35px;
        margin-bottom: 10px; } }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .main-panel .title {
        font-size: 35px;
        text-align: center;
        margin-bottom: 10px; } }
  .main-panel .description {
    font-size: 25px;
    font-weight: normal;
    line-height: 30px;
    /* de 600px a 899px */
    /* de 320px a 599px */ }
    @media all and (min-width: 600px) and (max-width: 899px) {
      .main-panel .description {
        font-size: 18px;
        line-height: 25px; } }
    @media all and (min-width: 320px) and (max-width: 599px) {
      .main-panel .description {
        font-size: 18px;
        line-height: 25px;
        padding: 20px;
        background-color: #C9801D; } }
    .main-panel .description.-variation {
      color: #C9801D; }
    .main-panel .description .paragraph {
      margin-bottom: 10px;
      /* de 600px a 899px */ }
      @media all and (min-width: 600px) and (max-width: 899px) {
        .main-panel .description .paragraph {
          margin-bottom: 0; } }
      .main-panel .description .paragraph .-destaque {
        text-transform: uppercase;
        font-weight: bold; }

.team-card {
  display: flex;
  margin: 0 auto;
  width: 500px;
  height: 250px;
  overflow: hidden;
  margin-bottom: 40px;
  /* 320px a 599px */ }
  @media all and (min-width: 320px) and (max-width: 599px) {
    .team-card {
      display: block;
      margin: 0 auto;
      width: 250px;
      height: 500px;
      margin: 15px; } }
  .team-card .avatar {
    width: 250px;
    height: 250px; }
  .team-card .resume {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    padding: 15px;
    background-image: linear-gradient(to top, #efefef 60%, #c8c9cb); }
    .team-card .resume .name {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 5px;
      color: #050A26;
      /* 320px a 599px */ }
      @media all and (min-width: 320px) and (max-width: 599px) {
        .team-card .resume .name {
          font-size: 25px; } }
    .team-card .resume .subtitle {
      font-size: 22px;
      margin-bottom: 10px;
      border-bottom: 1px solid #050A26;
      padding-bottom: 10px;
      color: #C9801D;
      /* 320px a 599px */ }
      @media all and (min-width: 320px) and (max-width: 599px) {
        .team-card .resume .subtitle {
          font-size: 20px; } }
    .team-card .resume .skill {
      font-size: 20px;
      font-weight: normal;
      line-height: 24px;
      color: #C9801D; }
    .team-card .resume .social {
      position: absolute;
      bottom: 15px;
      left: 15px;
      text-indent: -9999px;
      width: 44px;
      background-image: url(../img/icon-linkedin-dark.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 44px;
      padding: 20px;
      cursor: pointer;
      transition: transform 300ms linear; }
      .team-card .resume .social:hover {
        transform: scale(1.1);
        transition: transform 300ms linear; }
    .team-card .resume .credential {
      position: absolute;
      width: 130px;
      height: 57px;
      text-indent: -9999px;
      background-position: bottom right; }
      .team-card .resume .credential.-anbima20 {
        background-image: url(../img/imgSelo-anbima-cpa20.png);
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 65px;
        right: 15px; }
      .team-card .resume .credential.-anbima10 {
        background-image: url(../img/imgSelo-anbima-cpa10.png);
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 15px;
        right: 15px; }
      .team-card .resume .credential.-susep {
        background-image: url(../img/imgSelo-susep.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: contain;
        bottom: 15px;
        right: 5px; }
